/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.form-group{
  display: flex;
  flex-direction: column;
  
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}

.item {
  flex: 1;
  margin: 10px;
  
}

.item-double {
  flex: 2;
  align-self: center;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav{
  display: flex;
  justify-content: center;
}

header nav ul{
  display: flex;
  list-style: none;
  padding-left: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 271px){

  .logo {
    
    font-size: 37px;
    
  }

  form{
    font-size: 12px;
  }

 

}

@media all and (min-width: 300px) {
  .logo {
    
    font-size: 50px;
    
  }

  

  


  

  

  

  

 
}
@media all and (min-width: 480px){
  
  
.form-group{
  display: block;
}
.logo {
    
  font-size: 72px;
  
}

 

  

  


}

@media all and (min-width: 800px){
  header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1{
    margin: 14px 0;
    padding-top: 0;
  }
  header nav{
    margin-top: 8px;
  }

  .group {
    flex-direction: row;
  }
  .item{
    align-self: center;
  }
  .form-group{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .options{
    justify-content: space-between;
  }

  
form select,
form input {
  width: 100px;
  margin-top:40px;
  margin-right: 0;
}

.label-class{
  width: 0px;
  padding-top: 20px;
  padding-left: 50px;
  
}

form button{
  width: 100px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;

}









}

@media all and (min-width: 1200px){
  form button{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  
  }

  

  form select,
form input {
  width: 180px;
}

form{
  font-size: 12px;
}


}